command = "cdl/target/${TARGET:-debug}/schema-registry"
start-delay = "2s"
# start-after = ["another.toml", "second.toml"]
stdout = "logs/schema-registry.log"
stderr = "logs/schema-registry.log"
user = "$USER"
working-directory = "."

[restart]
strategy = "on-failure"
backoff = "1s"
attempts = 10

[failure]
successful-exit-code = [ 0, 1, 255 ]
strategy = "ignore"

[environment]
keep-env = false
#re-export = [ "PATH", "DB_PASS"]

[environment.additional]
CDL_CONFIG           = "cdl/.cdl"

[termination]
signal = "TERM"
wait = "2s"
#die-if-failed  = [ "db.toml"]


